{% extends "base.html" %}

{% block controls %}
    <!-- already signing in -->
{% endblock %}

{% block htmlhead %}
    {{ block.super }}

    <style type="text/css">
        #openid-form input {
            font-size: 1.2em;
        }
        p img {
            vertical-align: middle;
        }
    </style>
{% endblock %}

{% block content %}

    <div id="sign-in-social" class="box">
        <h3>Sign in with:</h3>
        <p>
            <a href="{% url socialauth_begin 'twitter' %}"><img src="{{ STATIC_URL }}twitter-32x32.png" width="32" height="32" alt="Twitter"></a>
            <a href="{% url socialauth_begin 'facebook' %}"><img src="{{ STATIC_URL }}facebook-32x32.png" width="32" height="32" alt="Facebook"></a>
            <a href="{% url socialauth_begin 'google' %}"><img src="{{ STATIC_URL }}google-32x32.png" width="32" height="32" alt="Google"></a>
            <a href="{% url socialauth_begin 'yahoo' %}"><img src="{{ STATIC_URL }}yahoo-32x32.png" width="32" height="32" alt="Yahoo!"></a>
        </p>

        <form id="openid-form" method="post" action="{% url socialauth_begin 'openid' %}">
            {% csrf_token %}
            <p><label><img src="{{ STATIC_URL }}openid-32x32.png" width="32" height="32" alt="OpenID"> <input name="openid_identifier"></label> <input type="submit" value="Sign in"></p>
        </form>
    </div>

{% endblock %}
