{% extends "base.html" %}

{% block htmltitle %}Archive &middot; {{ author.username }}{% endblock %}

{% block htmlhead %}
    {{ block.super }}

    <script type="text/javascript" src="{{ STATIC_URL }}d3/d3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}d3/d3.time.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}d3/examples/calendar/calendar.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}d3/examples/calendar/calendar.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}d3/colorbrewer/colorbrewer.css">

    <meta name="robots" content="noindex">
    <link rel="alternate" type="application/atom+xml" href="{% url feed %}">
{% endblock %}

{% block content %}

    <div id="calendar"></div>

    <script type="text/javascript">

        function setUpCalendar() {
    
            var w = $('#calendar').innerWidth(),
                pw = 20,
                z = ~~((w - pw * 2) / 53),
                ph = z >> 1,
                h = z * 7;

            var vis = d3.select('#calendar')
                .selectAll('svg')
                .data(d3.range(2001, 2012))
                .enter().append('svg:svg')
                .attr('width', w)
                .attr('height', h)
                .attr('class', 'Blues')
                .append('svg:g')
                .attr('transform', 'translate(' + pw + ',' + 0 + ')')
                ;

            vis.append('svg:text')
                .attr('transform', 'translate(-6,' + h / 2 + ')rotate(-90)')
                .attr('text-anchor', 'middle')
                .text(function (d) { return d })
                ;

            vis.selectAll('rect.day')
                .data(calendar.dates)
                .enter().append('svg:rect')
                .attr('x', function (d) { return d.week * z })
                .attr('y', function (d) { return d.day * z })
                .attr('class', 'day')
                .attr('width', z)
                .attr('height', z)
                .on('click', function (d) { window.location = '/' + d.Date.replace(/-/g, '/') + '/' })
                ;

            vis.selectAll('path.month')
                .data(calendar.months)
                .enter().append('svg:path')
                .attr('class', 'month')
                .attr('d', function (d) {
                    return "M" + (d.firstWeek + 1) * z + "," + d.firstDay * z
                        + "H" + d.firstWeek * z
                        + "V" + 7 * z
                        + "H" + d.lastWeek * z
                        + "V" + (d.lastDay + 1) * z
                        + "H" + (d.lastWeek + 1) * z
                        + "V" + 0
                        + "H" + (d.firstWeek + 1) * z
                        + "Z";
                })
                ;

            d3.json('{% url archivedata %}', function (data) {
                var color = d3.scale.quantize()
                    .domain([0, 15])
                    .range(d3.range(3, 9));

                vis.selectAll("rect.day")
                    .attr("class", function(d) { return "day q" + color(data[d.Date]) + "-9"; })
                    ;
            });
        }
    
        $(document).ready(setUpCalendar);
    </script>

{% endblock %}
