<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <title>{% block htmltitle %}{% endblock %}</title>

    {% block htmlhead %}
        <script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery.cookie.js"></script>

        <script type="text/javascript">
            $(document).ajaxSend(function (event, xhr, settings) {
                function safeMethod(method) {
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }

                if (!safeMethod(settings.type) && !settings.crossDomain) {
                    xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'));
                }
            });
        </script>

        <link rel="stylesheet" href="{{ STATIC_URL }}style.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}buttons.css">
    {% endblock %}

</head><body>

    <div id="page">

        <div id="controls" class="pkg">
            {% block controls %}
                {% if user.is_anonymous %}
                    <a href="/signin" class="button button-orange">Sign in</a>
                {% else %}
                    <a href="/signout" class="button button-black">Sign out</a>
                {% endif %}
            {% endblock %}
        </div>

        <div id="title" class="pkg">
            <h1><a href="/">{{ author.first_name }}</a></h1>
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>

    </div>

</body></html>
