<!DOCTYPE html>
<html><head>
    <meta charset="utf-8">
    <title>{% block htmltitle %}{% endblock %}</title>

    {% block htmlhead %}
        <script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
        <link rel="stylesheet" href="{{ STATIC_URL }}style.css">
        <style type="text/css">
        </style>
    {% endblock %}

</head><body>

    <div id="page">

        <div id="title" class="pkg">
            <h1><a href="/">{{ author.first_name }}</a></h1>
            <div id="greets">
                <p><a class="sign-in-link" href="/signin">Sign in</a></p>
            </div>
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>

    </div>

    <div id="controls">
        {% if user.is_anonymous %}
        <a href="/signin">Sign in</a>
        {% else %}
            {% block controls %}
            <a href="/signout">Sign out</a>
            {% endblock %}
        {% endif %}
    </div>

</body></html>
