<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="utf-8">
    <title>{% block htmltitle %}{% endblock %}</title>

    {% block htmlhead %}
        <script type="text/javascript" src="{{ STATIC_URL }}jquery.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}jquery.cookie.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}modernizr-2.0.6.js"></script>

        <script type="text/javascript">
            $(document).ajaxSend(function (event, xhr, settings) {
                function safeMethod(method) {
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }

                if (!safeMethod(settings.type) && !settings.crossDomain) {
                    xhr.setRequestHeader('X-CSRFToken', $.cookie('csrftoken'));
                }
            });
        </script>

        <link rel="stylesheet" href="{{ STATIC_URL }}style.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}buttons.css">
    {% endblock %}

</head><body>

    <div id="page">

        <div id="controls" class="pkg">
            {% block controls %}
                {% if user.is_anonymous %}
                    <a href="{% url signin %}" class="button button-orange">Sign in</a>
                {% else %}
                    <a href="{% url signout %}" class="button button-black">Sign out</a>
                {% endif %}
            {% endblock %}
        </div>

        <div id="title" class="pkg">
            <h1><a href="/">{{ author.first_name }}</a></h1>
        </div>

        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <div id="footer">
            <div class="footer-item">
                <a href="{% url index %}">Home</a>
            </div>
            <div class="footer-item">
                <form method="GET" action="{% url search %}">
                    <input type="search" name="q" placeholder="Search">
                </form>
            </div>
        </div>

    </div>

{% if googleanalytics %}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', '{{ googleanalytics }}']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
{% endif %}

</body></html>
