<script type="text/javascript" src="{{ STATIC_URL }}jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}jquery.multiselect.min.js"></script>

<div id="entry-editor" class="entry">
    {% if post %}
        <input type="hidden" name="entry-id" id="entry-id" value="{{ post.pk }}">
    {% endif %}
    <h2 class="entry-header" contenteditable="true">{% if post %}{{ post.title }}{% else %}Title{% endif %}</h2>
    <!-- author -->
    <div class="entry-content pkg" contenteditable="true">
        {% if post %}
            {{ post.html|safe }}
        {% else %}
            <p>content goes here</p>
        {% endif %}
    </div>
    <div class="entry-footer">
        <span>
            <select multiple="multiple" name="entry-trust" id="entry-trust" size="5">
                {% for group in user.trust_groups.all %}
                    <option value="{{ group.pk }}">{{ group.display_name }}</option>
                {% endfor %}
                <option value="public">Public</option>
            </select>
        </span>
        <span>
            <span id="entry-published" {% if post %}{% else %}data-now="yes" {% endif %}contenteditable="true">{% if post %}{{ post.published|date:"Y-m-d" }}T{{ post.published|date:"H:i:s" }}Z{% else %}~timestamp~{% endif %}</span>
        </span>
        <span>Permalink: <span id="entry-slug" {% if post %}{% else %}data-autotitle="true" {% endif %}contenteditable="true">{% if post %}{{ post.slug }}{% else %}title{% endif %}</span></span>
        <span class="editor-buttons">
            <a id="editor-post-button" href="#" class="button button-green">Post</a>
            <a href="#" class="button button-black">Discard</a>
        </span>
    </div>
</div>

<script type="text/javascript" src="{{ STATIC_URL }}jquery.relatize_date.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}editor.js"></script>
