{% extends "base.html" %}

{% block htmltitle %}{{ author.username }}{% endblock %}

{% block htmlhead %}
    {{ block.super }}

    <link rel="alternate" type="application/atom+xml" href="{% url feed %}">
{% endblock %}

{% block controls %}
    <a id="control-new-post" class="button button-green" href="#">New post</a>

    {{ block.super }}

    <script type="text/javascript">
        $('#control-new-post').click(function () {
            if ($('#entry-editor').size())
                return false;

            $.ajax({
                url: '{% url editor %}',
                dataType: 'html',
                success: function(data, textStatus, xhr) {
                    var $editor = $(data);
                    var $firstEntry = $('#content .entry').first();
                    $firstEntry.size() ? $firstEntry.before($editor) : $('#content').append($(data));
                    $('#entry-editor .entry-header').focus();
                }
            });
            return false;
        });
    </script>
{% endblock %}

{% block content %}

    {% for post in posts %}
        {% include "post.html" %}
    {% endfor %}

{% endblock %}
