{% extends "base.html" %}

{% block htmltitle %}{{ author.username }}{% endblock %}

{% block htmlhead %}
    {{ block.super }}

    <meta name="robots" content="noindex">
    <link rel="alternate" type="application/atom+xml" href="{% url feed %}">
{% endblock %}

{% block controls %}
    {% if user_is_author %}
    <a id="control-new-post" class="button button-green" href="#">New post</a>

    <script type="text/javascript">
        $('#control-new-post').click(function () {
            if ($('#entry-editor').size())
                return false;

            $.ajax({
                url: '{% url editor %}',
                dataType: 'html',
                success: function(data, textStatus, xhr) {
                    var $editor = $(data);
                    var $firstEntry = $('#content .entry').first();
                    $firstEntry.size() ? $firstEntry.before($editor) : $('#content').append($editor);
                    $('#entry-editor .entry-header').focus();
                }
            });
            return false;
        });
    </script>
    {% endif %}

    {{ block.super }}
{% endblock %}

{% block content %}

    {% for post in posts %}
        {% include "post.html" %}

        {% if forloop.last %}
            {% if more_url %}
            <div class="pager-bottom pager">
                <span class="pager-right">
                    <a href="{{ more_url }}"><span class="pager-label">More</span> <span class="chevron">&raquo;</span></a>
                </span>
            </div>
            {% endif %}
        {% endif %}
    {% endfor %}


{% endblock %}
