{% extends "base.html" %}
{% load comments %}

{% block htmltitle %}{{ post.title }} &middot; {{ author.username }}{% endblock %}

{% block controls %}
    {% if not user.is_anonymous %}
    <a id="control-edit-post" class="button button-green" href="#">Edit post</a>

    <script type="text/javascript">
        $('#control-edit-post').click(function () {
            if ($('#entry-editor').size())
                return false;

            $.ajax({
                url: '{% url editor %}',
                data: { post: {{ post.pk }} },
                dataType: 'html',
                success: function(data, textStatus, xhr) {
                    var $editor = $(data);
                    var $firstEntry = $('#content .entry').first();
                    $firstEntry.size() ? $firstEntry.before($editor) : $('#content').append($editor);
                    $('#entry-editor .entry-header').focus();

                    $firstEntry.hide();
                }
            });
            return false;
        });
    </script>
    {% endif %}

    {{ block.super }}

{% endblock %}

{% block content %}

    {% include "post.html" %}

    {% get_comment_list for post as comments %}
    {% for comment in comments %}
        {% if forloop.first %}
        <div id="comments" class="entry">
        {% endif %}
            <div class="comment">
                <p>{{ comment.user_name }} on {{ comment.submit_date }}</p>
                <p>{{ comment.comment }}</p>
            </div>
        {% if forloop.last %}
        </div>
        {% endif %}
    {% endfor %}

    {% if post.comments_enabled %}
    <div id="comment-form" class="entry">
        {% render_comment_form for post %}
    </div>
    {% endif %}

{% endblock %}
