{% load comments %}
<div class="entry" id="entry-{{ post.atom_id|slugify }}">
    {% if post.title %}
    <h2 class="entry-header"><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
    {% endif %}

    {% if post.avatar %}
        <span class="entry-author">
            <a title="{{ post.author.username }}" href="{{ post.author.permalink }}"><img src="{{ post.avatar.image.url }}" width="{{ post.avatar.width }}" height="{{ post.avatar.height }}"></a>
        </span>
    {% endif %}

    <div class="entry-content pkg">
        {{ post.html|safe }}
    </div>
    <div class="entry-footer">
        {% if post.private %}
            <span>(Private)</span>
        {% endif %}
        <span class="entry-timestamp">{{ post.published|date:"g:i" }} <small>{{ post.published|date:"A" }}</small> {{ post.published|date:"j M Y" }}</span>
        <span><a href="{{ post.permalink }}">Permalink</a></span>
        {% get_comment_count for post as comment_count %}
        {% if comment_count or post.comments_enabled %}
        <span><a href="{{ post.permalink }}#comments">{{ comment_count }} comment{{ comment_count|pluralize }}</a></span>
        {% endif %}
    </div>
</div>
