@import url(http://fonts.googleapis.com/css?family=Inconsolata);

/* 960.gs reset.css */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/* 960.gs text.css */
body{font:13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif}a:focus{outline:1px dotted}hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}h1{font-size:25px}h2{font-size:23px}h3{font-size:21px}h4{font-size:19px}h5{font-size:17px}h6{font-size:15px}ol{list-style:decimal}ul{list-style:disc}li{margin-left:30px}p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset{margin-bottom:20px}

/* custom layout */
#page {
    width: 760px;
    margin: 0 auto;
}
#title #greets {float: right;}
#title h1 { float: left;}
.pkg:after {
    content: " ";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0.1px;
    font-size: 0.1em;
    line-height: 0;
}

#controls {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 9001;

    font-size: 0.8em;
    padding-right: 1em;
}


/* "theme" */
body {
    font-size: 1em;
    line-height: 1.5em;
    min-height: 100%;

    background-color: #eee;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ddd));
    background-image: -moz-linear-gradient(left, right, from(#eee), to(#ddd));
    filter: progid:DXImageTransform.Microsoft.gradient(enabled='true', startColorstr=#eee, endColorstr=#ddd, GradientType=0);
}

#title {
    display: none;
}
#page {
    margin-top: 20px;
    margin-bottom: 20px;
}

.entry {
    background-color: white;
    position: relative;
    margin: 0;
    width: 760px;
    padding: 20px;
    border-radius: 5px;
    -moz-border-radius: 5px;
}
.entry + .entry {
    margin-top: 30px;
}

.entry a.entry-author {
    position: absolute;
    left: -90px;
    top: 20px;
    z-index: 3;
}
.entry a.entry-author img {
    border-radius: 5px;
    -moz-border-radius: 5px;
}

.pager a:link, .pager a:hover, .pager a:visited, .pager a:active, .pager a:focus,
.entry-header a:link, .entry-header a:hover, .entry-header a:visited, .entry-header a:active, .entry-header a:focus {
    background-color: transparent;
    border-width: 0;
    color: inherit;
    text-decoration: none;
}
.entry-header a:hover {
    text-decoration: underline;
}

.entry-content blockquote:before, .entry-content div.highlight:before,
.entry-content blockquote:after, .entry-content div.highlight:after {
    display: inline-block;
    position: absolute;
    font-size: 5em;
    font-weight: bold;
    color: #eee;
}
.entry-content blockquote:before, .entry-content div.highlight:before {
    left: -5px;
    content: "“";
    margin: 20px 0 0 0;
}
.entry-content blockquote:after, .entry-content div.highlight:after {
    right: 0;
    content: "”";
    margin-top: -20px;
}

.entry-content blockquote p {
    font-size: 0.9em;
    line-height: 1.5em;
}
.entry-content blockquote+p small {
    margin-left: 40px;
    font-style: oblique;
    color: #666;
}

.entry-header {
    margin: 0 0 5px;
}
.entry-footer {
    margin: 10px 0 0;
    font-size: 0.8em;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #e7e7e7;
    padding-top: 5px;
    font-weight: normal;
    color: #999;
}
.entry-footer a {
    color: #999;
}
.entry-footer small {
    font-size: 80%;
}

.chat-alice { color: #6ABB00; font-weight: bold }
.chat-bob { color: #FF7800; font-weight: bold }

pre, code, tt {
    font-family: Inconsolata, monospace;
}
pre { white-space: pre-wrap; overflow: auto; }
pre.wide { white-space: pre; }

