{% extends 'base.html' %}

{% block htmltitle %}{% if query %}"{{ query }}"{% else %}Search{% endif %} &middot; {{ author.username }}{% endblock %}

{% block controls %}

    <form id="search-form" method="get" action=".">
        {{ form.q.errors }}
        {{ form.q }}
    </form>

    {{ block.super }}

{% endblock %}

{% block content %}

    {% if query %}
        {% for result in page.object_list %}
            {{ result.result|safe }}
        {% empty %}
            <p>No results found.</p>
        {% endfor %}

        {% if page.has_previous or page.has_next %}
            <div class="pager-bottom pager">
                {% if page.has_previous %}
                    <span class="pager-left">
                        <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}"><span class="chevron">&laquo;</span> <span class="pager-label">Fewer</span></a>
                    </span>
                {% endif %}
                {% if page.has_previous and page.has_next %}
                    <span class="separator">|</span>
                {% endif %}
                {% if page.has_next %}
                    <span class="pager-right">
                        <a href="?q={{ query }}&amp;page={{ page.next_page_number }}"><span class="pager-label">More</span> <span class="chevron">&raquo;</span></a>
                    </span>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}

{% endblock %}
